.question {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionText {
  text-align: center;
  font-size: var(--fz-h-small);
  font-weight: 400;
  line-height: 1.4;
  color: var(--c-white);

  max-width: 800rem;
  height: 130rem;
  margin: 48rem 0 48rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;

}

.answers {
  display: grid;
  gap: 24rem;
  width: 380rem;
}

.answer {

}

.answerButton {
  width: 100%;
  min-height: 62rem;
  padding: 10rem;
  box-sizing: border-box;
  border-radius: 58rem;
  border: 1rem var(--c-purple) solid;
  background-color: rgba(0, 0, 0, 0);

  color: var(--c-white);
  font-size: var(--fz-b-big);
  font-weight: 700;
  line-height: 1.4;
  font-family: var(--f-basic);

  transition: linear 0.35s background-color;
}

.answerButton:hover {
  background-color: var(--c-purple);
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .questionText {
    font-size: var(--fz-b-medium);
    width: 290rem;
    height: 130rem;
    margin: 24rem 0 24rem;
  }

  .answers {
    gap: 24rem;
    width: 290rem;
  }

  .answerButton {
    width: 100%;
    min-height: 40rem;
    font-size: var(--fz-b-medium);
    padding: 5rem;
    transition: linear 0.35s background-color;
  }
}